- content_for :header do
  %h1 我回答过的问题

.page-questions-index
  .pblock
    %h3.cp 我在以下 #{@questions.count} 个问题中提供了回答
    = render_cell :questions, :gridlist, :questions => @questions, :user => current_user