- content_for :second_navbar do
  = render_cell :questions, :second_navbar

- content_for :header do
  %h1 我获得的回答
  .desc
    %span 这里列出了所有你得到回答的问题。
    %span 你有 #{@questions.count} 个问题得到了回答。

.page-questions-index
  = render_cell :questions, :gridlist, :questions => @questions, :user => current_user