- content_for :second_navbar do
  = render_cell :questions, :second_navbar

- content_for :header do
  %h1 我关注的问题
  .desc
    %span 这里列出了所有你关注的问题，
    %span 你正在关注以下 #{@questions.count} 个问题

.page-questions-index
  = render_cell :questions, :gridlist, :questions => @questions, :user => current_user