- content_for :header do
  %h1 查看公告 - #{@announcement.title}
  .btns
    - if current_user.is_manager?
      %a.btn.gray{:href => '/manage/announcements'}
        %i.icon-chevron-left
        %span 返回公告列表
    - else
      %a.btn.gray{:href => '/announcements'}
        %i.icon-chevron-left
        %span 返回公告列表

.page-announcement-show
  .pblock.show
    .f
      .t 公告标题：
      .v= @announcement.title
    .f
      .t 公告正文：
      .v= simple_format(@announcement.content)
    .f
      .t 公告时间：
      .v= @announcement.updated_at