.page-admin-users
  .group-tree
    .head
      %a.h.teachers{:class => @tab == :teachers ? 'active' : '', :href => '/admin/user_groups/teachers'} 教职工分组
      %a.h.students{:class => @tab == :students ? 'active' : '', :href => '/admin/user_groups/students'} 学生分组

    .tree.nano
      .nano-content
        = render_cell :group_tree, :node, :node => @root

  .group-forms
    .form-overlay{:style => 'display:none;'}
    .add-child-form{:style => 'display:none;'}
      .h
        %a.close{:href => 'javascript:;', :title => '关闭'}
          %i.icon-remove
        .t 增加新的子分组
      .fields
        %input{:type => :text, :name => :name, :placeholder => '请输入分组名', :onclick => 'this.select()'}
      .submits
        %a.btn.success-flat.submit{:href => 'javascript:;'} 确定
        %a.btn.gray-flat.close{:href => 'javascript:;'} 取消
        .clearfix

    .edit-form{:style => 'display:none;'}
      .h
        %a.close{:href => 'javascript:;', :title => '关闭'}
          %i.icon-remove
        .t 修改分组名称
      .fields
        %input{:type => :text, :name => :name, :placeholder => '请输入分组名', :onclick => 'this.select()'}
      .submits
        %a.btn.success-flat.submit{:href => 'javascript:;'} 确定
        %a.btn.gray-flat.close{:href => 'javascript:;'} 取消
        .clearfix

  .group-detail
    .head
      .name= @root.name
      .ops
        %a.btn.create.success-flat{:href => '/admin/users/new'}
          %i.icon-plus
          %span 增加用户
        %a.btn.delete.danger-flat{:href => 'javascript:;', :style=>'display:none;'}
          %i.icon-trash
          %span 删除当前分组
      .clearfix

    .detail
      / ajax loading
      / group show.html.haml

= render_cell :group_tree, :user_selector, :node => @root, :root => @root, :users => User.page(1)