- content_for :header do
  %h1 文件共享
  .desc 你可以在这里上传需要的文件到系统中保存起来。对于保存后的文件，你可以把下载链接发给其他人进行下载。

.page-files-index{:data => {:path => @current_dir_path}}
  .pblock.upwidget
    = render_cell :layout, :file_uploader, :multi => true

  .pblock.table
    .files-view
      .list-view
        = render_cell :disk, :file_table, :media_resources => @media_resources