- content_for :header do
  %h1 文件共享

.page-files-index{:data => {:path => @current_dir_path}}
  .pblock.upwidget
    = render_cell :layout, :file_uploader, :multi => true

  .pblock.table
    .files-view
      .list-view
        = render_cell :disk, :file_table, :media_resources => @media_resources