- content_for :header do
  %h1
    %span 搜索关键词
    %span{:style => 'color:#ff6633;'}
      %b= @query
    %span 得到以下结果

.page-search
  .pblock.desc
    %span 搜索到 #{@course_search.total} 个课程

  .cpart.courses{:style => 'padding:5px;'}
    .result
      - @course_search.results.each do |course|
        = render_cell :course, :smallcard, :course => course, :user => current_user
    .clearfix