- content_for :header do
  %h1 系统信息汇总

.page-admin-home
  .sidep33{:style => 'padding-right:5px;'}
    .pblock
      .cpart
        %h3.cp 课程信息统计
        .desc{:style=>'margin-bottom:5px;'}
          %b 33
          %span 项课程已发布，
          %b 9
          %span 项课程待审
        .page-progress.success.striped
          .bar{:style => "width:#{3300/42}%;"}

    .pblock
      .cpart{:style=>'position:relative;padding-bottom:40px;'}
        %h3.cp 课程内容分布

        .p{:style=>'margin-bottom:10px;'}
          %span{:style=>'color:#607CBE;'} ■
          %span 73.7% 演示文稿 

        .p{:style=>'margin-bottom:10px;'}
          %span{:style=>'color:#E6B053;'} ■
          %span 20.0% 视频 

        .p{:style=>'margin-bottom:10px;'}
          %span{:style=>'color:#55B0DB;'} ■
          %span  6.3% 互动程序 

        .p{:style=>'margin-bottom:10px;'}
          %span{:style=>'color:#87B979;'} ■
          %span  0.0% 其他 

        %img{:src=>'/assets/chart-sample.jpg', :style=>'position:absolute;top:10px;right:10px;'}