.page-user-courses
  .courses{:style => 'position:relative;left:5px;'}
    - @courses.each do |course|
      = render_cell :course, :smallcard, :course => course, :user => current_user

  = paginate @courses
