.page-filter.admin-users
  %input.form-control{:name => :q, :type => :text, :placeholder => '查找用户', :value => @query}

  - if @query.present?
    %a.btn.btn-pill.btn-flat{:href => '/admin/users', :title => '清除搜索词'}
      %i.fa.fa-remove
      %span 清除

  %a.btn.btn-pill.btn-flat{:href => 'javascript:;'}
    %i.fa.fa-search
    %span 搜索