.page-top-nav
  .search
    %input{:type => :text, :name => :q, :placeholder => '搜索课程内容 …'}
    %a.do-search.btn.gray-flat{:href => 'javascript:;'}
      %i.icon-search
      %span 搜索

  .list
    %a.item{:href => '/courses'}
      %i.icon-book
      %span 课程中心
    %a.item{:href => '/account/edit'}
      %i.icon-cog
      %span 账号设置
    %a.item{:href => '/account/sign_out'}
      %i.icon-off
      %span 退出