.page-student-select-course-intent-form
  .pblock.desc
    .p
      %b= current_user.name
      %span 同学你好，你正在使用选课登记系统进行选课志愿填报。
    .p{:style => 'margin-top:10px;'}
      %span 每位同学可以选多门课程，注意选够学分。
    .p
      %span 教务处将根据选课志愿汇总情况和课程安排来安排最终上课结果。

  .courses-tables
    = render_cell :admin, :course_select_tables, :courses => @courses, :user => current_user