- content_for :header_v2 do
  %h1 课程科目管理
  .desc 
    系统内的课程以多个科目进行划分，可以在这里管理课程科目。

  .btns
    %a.btn.success-flat{:href => '/admin/categories/new'}
      %i.icon-plus.icon-white
      %span 新建科目

.page-admin-categories
  - if @categories.blank?
    .pblock.desc
      %span 目前尚未创建任何科目。
      %span 点击这里
      %a{:href => '/admin/categories/new'} ＋创建新的科目

  - else
    .pblock.table
      = render_cell :categories, :table, :categories => @categories