- content_for :header do
  %h1 我的课程

- courses = @courses

.page-courses-index
  .pblock.desc
    %span 你目前正在上 #{courses.count} 门课程

  - if !courses.blank?
    .mainp75{:style => 'margin-top:5px;padding-right:0;'}
      .all-courses
        - courses.each do |course|
          = render_cell :course, :smallcard, :course => course, :user => current_user
        .clearfix
        .paginate= paginate courses
        
  .sidep25{:style => 'margin-top:5px;'}
    - if current_user.is_student?
      %a.select-courses{:href => '/courses'}
        %i.icon-book.icon-white
        %span 前往课程中心

      .pblock
        .chart
          %h3.cp 个人学习情况统计
          .cha
            .desc
              .d 课程总数
              .c= Course.count
            .page-chart.all-course-read-pie{:data => {:url => "/charts/courses/all_courses_read_pie"}}

  .clearfix