- content_for :header do
  = render_cell :manage_courses_breadcrumb, :form, :model => @course

.page-course-form
  .pblock.form
    = render_cell :admin, :course_form, :course => @course, :user => @current_user