- content_for :header do
  - if current_user.is_teacher?
    %h1 课程申报
    .btns
      %a.btn.success-flat{:href => '/manage/courses/new'}
        %i.icon-plus.icon-white
        %span 申报新课程

  - if current_user.is_manager?
    %h1 课程审批

.page-manage-courses
  - if msg = flash[:success]
    .pblock.success
      %i.icon-ok
      %span= msg

  .courses-tables
    = render_cell :admin, :course_manage_tables, :courses => @courses, :user => current_user

  = paginate @courses