- content_for :header_v2 do
  %h1 课程编排
  .desc 
    %b= current_user.name
    %span 老师，你好。
    %span 你可以在这里对由你所负责的课程进行章节编排。

  .btns
    %a.btn.success-flat{:href => '/manage/courses/new'}
      %i.icon-plus
      %span 创建新课程

.page-courses-design
  - if @courses.blank?
    .empty-state
      .title 你目前还没有创建课程
      .desc 
        %span 你可以通过右上角的
        %a{:href => '/manage/courses/new'} 课程创建按钮
        %span 来创建新的课程

  - else
    .courses-tables
      = render_cell :admin, :course_manage_design_tables, :courses => @courses, :user => current_user

    .paginate= paginate @courses