- content_for :header do
  %h1 个人页设置
  .desc 设置个人的样式等信息。上传一张版头图片，最合适的建议尺寸是 1000 × 300 像素

.page-account-userpage
  .pblock.form
    %h3.cp 目前的版头图片
    .userpage-head
      %img{:src => current_user.userpage_head.versions[:small].url}

    %hr

    = simple_form_for current_user, :url => '/account/userpage' do |f|
      %h3.cp 上传新图片
      .form-inputs
        = f.input :userpage_head, :required => true, :hint => '选择一张图片并上传'
      .form-actions{:style => 'margin-top:20px;'}
        %a.do-submit.btn.success-flat{:href => 'javascript:;'}
          %i.icon-ok
          %span 确定上传