.pblock.table {
  .tbl table {
    margin-bottom:0;
  }

  .new-line {
    border:solid 1px #E7E7E7;
    // border-bottom:0 none;
    padding:10px 20px;
    background-color:white;
    margin-bottom:-1px;

    .op {
      position:relative;
      .desc {
        float:left;
        height:30px;line-height:30px;
        margin-right:20px;
      }
    }

    .new-form {
      background-color:#FCFCFC;
      text-align:left;
      margin:-5px -15px -5px;
      padding:15px;
      // border:solid 1px #e7e7e7;
      @include border-radius(3px);
    }
  }
}

.count-change {
  font-weight:bold;
  z-index:20;
  text-shadow:0px 0px 1px rgba(black, 0.5);
  text-align:center;
  font-family:arial;
  position:absolute;
  color:white;
  padding:0 3px;
  @include border-radius(3px);

  &.down {background-color:#ff3333;}
  &.up {background-color:darken(#33ff33, 20%);}
}


.js-dyn-table {
  .blankslate {display:none;}

  &.blank {
    .blankslate {display:block;}
    .tbl {display:none;}
  }
}