$sidebar-width:120px;  
.page-sidebar {
  background-color:white;
  position:absolute;
  width:$sidebar-width;
  top:70px;left:0px;
  z-index:3;
  border-right:solid 1px #e7e7e7;
  border-bottom:solid 2px #e7e7e7;
  border-top:solid 1px #e7e7e7;

  .avatar {
    margin:20px 0 20px 30px;
    img {
      width:60px;height:60px;
    }
  }

  .page-navlist {
    .nav {
      @include border-radius(0 !important);
      a {
        @include border-radius(0 !important);
        border:0 none !important;
        color:#555;

        i {
          float:left !important;
          margin:2px 5px 0 -6px !important;
        }

        &:hover{color:#0066EC;}
        &:hover {
          i {opacity:0.75 !important;}
        }
      }
      .active a {
        background-color:#f4f4f4 !important;
        color:#333 !important;
        box-shadow:none !important;
        text-shadow:none !important;
        padding:8px 14px !important;

        i {background-image:url(/assets/compoents/glyphicons-halflings.png) !important;}
      }
    }
  }

}