.page-admin-users
  .group-tree
    .head
      %a.h.teachers{:class => @tab == :teachers ? 'active' : '', :href => '/admin/users/teachers'} 教职工
      %a.h.students{:class => @tab == :students ? 'active' : '', :href => '/admin/users/students'} 学生

    .tree.nano
      .nano-content
        :ruby
          root = OpenStruct.new({
            :id => randstr,
            :name => '全部',
            :children => @root_groups
          })

        = render_cell :group_tree, :node, :node => root

  .group-detail
    .head
      .name 全部