- content_for :javascript do
  = javascript_include_tag '/pjax/jquery.pjax'

!!!
- simple_page_layout 'EduShare', :html_lang => :zh, :body_class => 'auth' do
  = auth_wallpaper_tag
  = auth_logo

  .page-content
    = yield