- content_for :javascript do
  = javascript_include_tag '/pjax/jquery.pjax'

!!!
- simple_page_layout 'EduShare', :html_lang => :zh, :body_class => 'auth' do
  - if :xuanke == @for
    = page_wallpaper '/assets/wallpaper/auth-wallpaper-inhouse-xk.jpg'
  - else
    = page_wallpaper '/assets/wallpaper/auth-wallpaper-inhouse-es.jpg'

  .page-content
    = yield